.root {
  position: absolute;
  top: 0;
  width: 100%;
}

.button {
  background-color: transparent;
  border-radius: 0;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 1em;
  font-family: inherit;
  padding: 0.5em 1em;
  margin-bottom: -1px;
  width: 100%;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.itemEnter {
  opacity: 0;
  transition: 0.5s;
}

.itemEnterActive {
  opacity: 1;
}