.root {
  list-style: none;
  padding: 0;
}

.button {
  background-color: transparent;
  border-radius: 0;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 1em;
  font-family: inherit;
  padding: 0.5em 1em;
  margin-bottom: -1px;
  width: 100%;
}